body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(147, 177, 147);
}

.timerTitle {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: white;
    text-shadow: 1px 3px 3px black;
}


.stopwatch-container {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stopwatch-time {
    margin-bottom: 40px;
}

#displayTime {
    font-size: 100px;
    color: #fff;
}

.controlButton {
    width: 150px;
    padding: 10px 15px;
    margin: 0px 20px;
    font-size: 20px;
    transition: 0.5s;
    color: rgb(21, 39, 21);
    font-weight: 600;
    cursor: pointer;
    border: solid 1px black;
    box-shadow: 1px 2px 6px #040404
}

/* Styles for Button Action Visibility */
.controlButton:hover {
    color: White;
    background-color: rgb(21, 39, 21);
    transition: background-color 0.3s ease;
}

.controlButton:focus {
    color: white;
    background-color: rgb(46, 46, 46);
}

/* Media Query for Small Screens */
@media(min-width: 300px) and (max-width: 590px) {
    .controlButtons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }

    .controlButton {
        font-size: 15px;
    }

    #displayTime {
        font-size: 80px;
    }
}
@media(min-width:1500px) {
    .controlButton {
        width: 240px;
        font-size: 27px;
    }
    #displayTime {
        font-size: 10px;
    }
    .timerTitle {
        font-size: 40px;
    }
}